<html>
<head>
    <title>Meeting Ended</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="myclass">You left the meet! Thank you for attending it...</div>
</body>
</html>